.discriptionbox {
  margin: 2rem 3rem;
}

.discriptionbox-navigator {
  display: flex;
}

.discriptionbox-nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d0d0;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 0.2rem;
}

.discriptionbox-nav-box.fade {
  background-color: #fbfbfb;
  color: #555;
}

.discriptionbox-description {
  border: 1px solid #d0d0d0;
  padding: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .discriptionbox {
    margin: 1.5rem 2rem;
  }

  .discriptionbox-description {
    padding: 1rem;
  }
}
