.sidebar {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  max-width: 13rem;
  width: 100%;
  background-color: white;
  padding-top: 2rem;
  gap: 0.8rem;
  margin-top: 0.1rem;
}

.sidebar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  margin: 0 1.1rem;
  gap: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    width: auto;
    max-width: none;
    height: auto;
    justify-content: center;
    padding: 1rem 0.3rem;
  }

  .sidebar-items {
    margin: 0;
    gap: 0.6rem;
  }
}
